.u-main-heading {
  font-size: clamp(2.6rem, 4.88vw, 500px);
}

.u-section-heading {
  font-size: clamp(1.5rem, 0.6193rem + 3.1313vw, 3.4375rem);
}

.u-section-text {
  @screen tablet {
    font-size: theme('fontSize.20');
  }
}
